.player-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100%/7);
    // .rank{

    // }
    // .player-name{

    // }
    .avatar{
        height: 100%;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.player-odd{
    background-color: #dadada;
}