.palette-container{
    grid-column-start: 1;
    grid-column-end: span 5;
    display: flex;
    column-gap: 5px;
    background-color: white;
    margin-top: 5px;
    padding: 5px;
}
.selected-color{
    min-height: 100%;
    aspect-ratio: 1;
    background-color: blue;
}
.colors{
    width: 40%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
}

.color{
    aspect-ratio: 1;
}