.canvas-container{
    
    
    canvas{
        background: white;
        // width:  auto;
        // height: 60vh;
        // aspect-ratio: 1366/768;
    }
    canvas:hover{
        cursor: crosshair;
    }
}