.clock{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;

    span{
        position: absolute;
        font-size: 48px;

        
        
    }
}